main {
	padding: 14px;
	font-family: 'Roboto';
}
.title {
	margin: 44px 0 32px;
	font-family: 'Comfortaa';
	font-size: 2rem;
	line-height: 40px;
}
.custom-input{
	border: 2px solid #000000;
	border-radius: 0;
}
.subtitle {
	font-weight: 900;
	font-size: 13px;
	line-height: 15px;
	text-transform: uppercase;
	margin: 32px 0 24px;
}
.row {
	justify-content: space-between;
	--bs-gutter-y: 1.5rem; /* vertical space between images */
	margin-bottom: 1.5rem;
}

.image {
	width: 100%;
	height: 100%;
}

.btn-custom {
	width: 100%;
	border: 2px solid #000000;
	text-transform: uppercase;
	font-weight: 900;
	padding: 10px;
}
